*{
    margin: 0;
    padding: 0;
}
body{
    background: black;
}
.planet {
    position: fixed;
    top: calc(52% - 100px);
    left: calc(51.3% - 100px);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    box-shadow: inset 0 0 50px #fff, inset 20px 0 80px #999927,
      inset -20px 0 80px #ffb700, inset 20px 0 300px #cfa004,
      inset -20px 0 300px #f59300, 0 0 50px #cfa004, -10px 0 80px #784000, 10px 0
        80px #ffae00;
  }
  @keyframes sun{
    0%{ transform: translateX(150px) scale(0.0);}
    10%{ transform: translateX(160px) scale(0.15);}
    20%{ transform: translateX(130px) scale(0.2);}
    30%{ transform: translateX(100px) scale(0.3);}
    40%{ transform: translateX(60px) scale(0.35);}
    50% { transform: translateX(0px) scale(0.4);}
    60% { transform: translateX(-60px) scale(0.35);}
    70% { transform: translateX(-100px) scale(0.3);}
    80% { transform: translateX(-130px) scale(0.2);}
    90% { transform: translateX(-160px) scale(0.15);}
    100% { transform: translateX(-150px) scale(0.0);}
  }
  .sun{
    animation-name: sun;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  .spin-m{
    position: relative;
    width: 130px;
    height: 130px;
    top: 185.5px;
    left: 48.7%;
    margin-left: -100px;
    border-radius: 50%;
    border: 2px solid rgb(207, 206, 206);
    animation-name: spin;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function:linear ;
  }
  @keyframes spin{
    to{transform: rotate(360deg);}
  }
  .mercury{
    position: relative;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #f58f00 ;
    margin-left: 88px; ;
  }
  .spin-v{
    position: relative;
    width: 170px;
    height: 170px;
    top: 31.3px;
    left: 47.2%;
    margin-left: -100px;
    border-radius: 50%;
    border: 2px solid rgb(207, 206, 206);
    animation-name: spin;
    animation-duration: 28s;
    animation-iteration-count: infinite;
    animation-timing-function:linear ;
  }
.venera{
  position: relative;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background-color: #f56e00 ;
  margin-left: 28px; 
}
.spin-e{
  position: relative;
  width: 220px;
  height: 220px;
  top: -167.3px;
  left: 274.8px;
  margin-left: 200px;
  border-radius: 50%;
  border: 2px solid rgb(207, 206, 206);
  animation-name: spin;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function:linear ;
}
.earth{
  position: relative;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  background-color: #0062f5 ;
  margin-left: 150px; 
}
.spin-mars{
  position: fixed;
  width: 280px;
  height: 280px;
  top: 107.3px;
  left: 244.8px;
  margin-left: 200px;
  border-radius: 50%;
  border: 2px solid rgb(207, 206, 206);
  animation-name: spin;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function:linear ;
}
.mars{
  position: relative;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #f52100 ;
  margin-left: 190px; 
}
.spin-j{
  position: fixed;
  width: 360px;
  height: 360px;
  top: 69.3px;
  left: 206.8px;
  margin-left: 200px;
  border-radius: 50%;
  border: 2px solid rgb(207, 206, 206);
  animation-name: spin;
  animation-duration: 17s;
  animation-iteration-count: infinite;
  animation-timing-function:linear ;
}
.jupiter{
  position: relative;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #f5c800 ;
  margin-left: 85px; 
}
.spin-u{
  position: fixed;
  width: 430px;
  height: 430px;
  top: 36.3px;
  left: 173.8px;
  margin-left: 200px;
  border-radius: 50%;
  border: 2px solid rgb(207, 206, 206);
  animation-name: spin;
  animation-duration: 44s;
  animation-iteration-count: infinite;
  animation-timing-function:linear ;
}
.uranus{
  position: relative;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #519aef ;
  margin-left: 125px; 
}
.spin-n{
  position: fixed;
  width: 480px;
  height: 480px;
  top: 11.3px;
  left: 150.8px;
  margin-left: 200px;
  border-radius: 50%;
  border: 2px solid rgb(207, 206, 206);
  animation-name: spin;
  animation-duration: 55s;
  animation-iteration-count: infinite;
  animation-timing-function:linear ;
}
.neptune{
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #5176ef ;
  margin-left: 159px;
}